{% extends "base.html" %}
{% block content %}
    <div class="container d-flex flex-column justify-content-center">
        <div class="container p-4 text-center">
            <h1 class="text-center">{{ store['store_name'] }} Queue</h1>
        </div>
        {% for i in range(queue_list|length) %}
            {% set queue = queue_list[i] %}
            <div class="container md-4 p-2 my-4 rounded bg-body-secondary text-center">
                <div>
                    <h2><b>{{ queue['name'] }}</b></h2>
                </div>
                <div>
                    <h4>Wait Time: {{ queue['wait_time'] }}</h4>
                </div>
                <div>
                    <h4>Current Queue:</h4>
                    <ul id="queue_{{i}}" class="list-group">
                        {% for user in queue['queue'] %}
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <button type="button" id="join_button_{{i}}" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal_{{i}}">Join Queue</button>
                </div>
            </div>
            <div class="modal fade" id="exampleModal_{{i}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Join {{ queue['name'] }} Queue</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="join-form_{{i}}">
                            <div class="modal-body">
                                <p id="exampleModalText_{{i}}">Please write your username below.</p>
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" id="username_{{i}}" name="username">
                                <input type="hidden" name="game_id" id="game_id_{{i}}" value="game_{{i}}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Join</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script>
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
            document.getElementById('join-form_{{i}}').addEventListener('submit', function (e) {
                e.preventDefault();
                var username = document.getElementById('username_{{i}}').value;
                var game_id = document.getElementById('game_id_{{i}}').value;
                fetch(`/get_token?username=${username}&game_id=${game_id}`)
                    .then(response => response.json())
                    .then(data => {
                        var token = data.token;
                        localStorage.setItem('token_{{i}}', token);
                        var join_button = document.getElementById('join_button_{{i}}');
                        join_button.classList.add('invisible');
                        socket.emit('join_queue', {
                            username: username,
                            game_id: game_id,
                            token: token
                        });
                        var modal = bootstrap.Modal.getInstance(document.getElementById('exampleModal_{{i}}'));
                        modal.hide();
                    })
                    .catch(error => {
                        var modalText = document.getElementById('exampleModalText_{{i}}');
                        modalText.textContent = 'Invalid Username!';
                        modalText.classList.add("text-danger-emphasis");
                        console.error('Error fetching token:', error);
                    });
            });
                document.addEventListener("DOMContentLoaded", function() {
                        const queueElement = document.getElementById('queue_{{i}}');
                        queueElement.addEventListener('click', function(event) {
                            if (event.target && event.target.classList.contains('delete-btn')) {
                                const listItem = event.target.closest('li');
                                const username = listItem.getAttribute('username');
                                const game_id = 'game_{{i}}'
                                console.log('Username:', username);
                                console.log('Game ID:', game_id);
                                socket.emit('remove_user', {
                                    username: username,
                                    game_id: game_id,
                                    token: localStorage.getItem('token_{{i}}')
                                });
                                var join_button = document.getElementById('join_button_{{i}}');
                                join_button.classList.remove('invisible');
                            }
                        });
                    });
                socket.on('queue_update', function(data) {
                    if (data.game_id == {{i}}) {
                        var queueElement = document.getElementById('queue_{{i}}');
                        queueElement.innerHTML = '';
                        data.queue.forEach(function(user) {
                            var li = document.createElement('li');
                            li.classList.add("list-group-item", "d-flex", "align-items-center")
                            li.setAttribute("username", user.username);
                            li.setAttribute("game_id", "game_{{i}}");

                            var blank_col = document.createElement('span');
                            blank_col.classList.add("col");
                            li.appendChild(blank_col);
                            var username = document.createElement('span');
                            username.classList.add("col");
                            username.textContent = user.username;
                            li.appendChild(username);

                            var spanDelete = document.createElement('span');
                            spanDelete.classList.add("col", "d-flex", "justify-content-end");
                            var deleteButton = document.createElement('button');
                            deleteButton.classList.add("btn", "btn-danger", "btn-sm", "delete-btn");
                            deleteButton.textContent = 'Remove';
                            var join_button = document.getElementById('join_button_{{i}}');
                            if (data.operator || localStorage.getItem('token_{{i}}') == user.token) {
                                spanDelete.classList.add("visible");
                                join_button.classList.add('invisible');
                            } else {
                                spanDelete.classList.add("invisible");
                                join_button.classList.add('visible');
                            }
                            spanDelete.appendChild(deleteButton);
                            li.appendChild(spanDelete);
                            queueElement.appendChild(li);

                            var countdown = document.createElement('div');
                            countdown.id = 'countdown_{{i}}';
                            queueElement.appendChild(countdown);
                        });
                    }
                });
                socket.on('timer_update', function(data) {
                    if (data.game_id == {{i}}) {
                        var countdownDisplay = document.getElementById('countdown_{{i}}');
                        if ((data.time_left > 0) && (data.time_left != null) && (countdownDisplay != null)) {
                            countdownDisplay.textContent = `Time left: ${data.time_left} seconds`;
                        }
                    }
                });
                socket.on('user_removed', function(data) {
                    if (data.user) {
                        var join_button = document.getElementById('join_button_' + data.game_id);
                        join_button.classList.remove('invisible');
                        vibrateDevice();
                        setTimeout(function() {
                                alert("You have been removed from the queue for game " + data.game_id + " because your time is up.");
                            }, 1000);
                    }
                });
                function vibrateDevice() {
                    if ("vibrate" in navigator) {
                      navigator.vibrate(5000);  // Vibrates for 500ms
                    } else {
                      console.log("Vibration not supported.");
                    }
                  }
            </script>
        {% endfor %}
    </div>
    <div>
        <button type="btn" data-bs-toggle="modal" data-bs-target="#opModal" class="btn btn-outline-primary fixed-bottom-right" id="op-button" style="position: fixed; bottom: 20px; right: 20px;">Operator Access</button>
        <div class="modal fade" id="opModal" tabindex="-1" aria-labelledby="opModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="opModalLabel">Input Operator Code</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="op-form">
                        <div class="modal-body">
                            <input type="text" class="form-control" placeholder="123456789" aria-label="Operator Code" id="op-code">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Enter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
        document.getElementById('op-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const operatorCode = document.getElementById('op-code').value;
            console.log("Operator Code:", operatorCode);
            socket.emit('operator_code', {
                operator_code: operatorCode
            });
            const modalElement = document.getElementById('opModal');
            const modal = bootstrap.Modal.getInstance(modalElement);
            modal.hide();
        });
        </script>
    </div>
{% endblock %}
