{% extends "base.html" %}
{% block content %}
    <div class="container d-flex flex-column justify-content-center">
        <div class="container p-4 text-center">
            <h1 class="text-center">{{ store['store_name'] }} Queue</h1>
        </div>
        {% for i in range(queue_list|length) %}
            {% set queue = queue_list[i] %}
            <div class="container md-4 p-2 my-4 rounded bg-body-secondary text-center">
                <div>
                    <h2><b>{{ queue['name'] }}</b></h2>
                </div>
                <div>
                    <h4>Wait Time: {{ formatTime(queue['wait_time']|int) }}</h4>
                </div>
                <div>
                    <h4>Current Queue:</h4>
                    <ul id="queue_{{i}}" class="list-group">
                    </ul>
                </div>
                <div>
                    <button type="button" id="join_button_{{i}}" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#joinModal_{{i}}">Join Queue</button>
                </div>
            </div>
            <div class="modal fade" id="joinModal_{{i}}" tabindex="-1" aria-labelledby="joinModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalLabel">Join {{ queue['name'] }} Queue</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="join-form_{{i}}">
                            <div class="modal-body">
                                <p id="joinModalText_{{i}}">Please write your username below.</p>
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" id="username_{{i}}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Join</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        <button type="btn" data-bs-toggle="modal" data-bs-target="#opModal" class="btn btn-outline-primary fixed-bottom-right" id="op-button" style="position: fixed; bottom: 20px; right: 20px;">Operator Access</button>
        <div class="modal fade" id="opModal" tabindex="-1" aria-labelledby="opModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="opModalLabel">Input Operator Code</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="op-form">
                        <div class="modal-body">
                            <input type="text" class="form-control" aria-label="Operator Code" id="op-code">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Enter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            document.getElementById('op-form').addEventListener('submit', function(event) {
                event.preventDefault();
                const operatorCode = document.getElementById('op-code').value;
                fetch(`/api/operator?operator_code=${operatorCode}`)
                    .then(response => response.json())
                    .then(data => {
                        var token = data.token;
                        localStorage.setItem('operator_code', token);
                        const modalElement = document.getElementById('opModal');
                        const modal = bootstrap.Modal.getInstance(modalElement);
                        modal.hide();
                        const deleteBtns = document.getElementsByClassName('delete-btn');
                        Array.from(deleteBtns).forEach(function(deleteBtn) {
                            deleteBtn.classList.toggle("invisible");
                        });
                    })
                .catch(error => {
                    var opModalText = document.getElementById('opModalLabel');
                    opModalText.textContent = 'Incorrect Code!';
                    opModalText.classList.add("text-danger-emphasis");
                    console.error('Error fetching token:', error);
                });
            });
        </script>
        <script src="{{url_for('static', filename='main.js')}}"></script>
    </div>
{% endblock %}
