{% extends "base.html" %}
{% block content %}
    <div class="container d-flex flex-column justify-content-center">
        <div class="container p-4 text-center">
            <h1 class="text-center">{{ store['store_name'] }} Queue</h1>
        </div>
        {% for i in range(queue_list|length) %}
            {% set queue = queue_list[i] %}
            <div class="container md-4 p-2 my-4 rounded bg-body-secondary text-center">
                <div>
                    <h2><b>{{ queue['name'] }}</b></h2>
                </div>
                <div>
                    <h4>Wait Time: {{ formatTime(queue['wait_time']|int) }}</h4>
                </div>
                <div>
                    <h4>Current Queue:</h4>
                    <ul id="queue_{{i}}" class="list-group">
                    </ul>
                </div>
                <div>
                    <button type="button" id="join_button_{{i}}" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#joinModal_{{i}}">Join Queue</button>
                </div>
            </div>
            <div class="modal fade" id="joinModal_{{i}}" tabindex="-1" aria-labelledby="joinModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalLabel">Join {{ queue['name'] }} Queue</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="join-form_{{i}}">
                            <div class="modal-body">
                                <p id="joinModalText_{{i}}">Please write your username below.</p>
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" id="username_{{i}}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Join</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script>
                var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
                document.getElementById('join-form_{{i}}').addEventListener('submit', function (e) {
                    e.preventDefault();
                    var username = document.getElementById('username_{{i}}').value;
                    var game_id = {{i}}
                    fetch(`/api/get_token?username=${username}&game_id=${game_id}`)
                        .then(response => response.json())
                        .then(data => {
                            var token = data.token;
                            localStorage.setItem('token_{{i}}', token);
                            var join_button = document.getElementById('join_button_{{i}}');
                            join_button.classList.toggle('invisible');
                            socket.emit('join_queue', {
                                username: username,
                                game_id: game_id,
                                token: token
                            });
                            var modal = bootstrap.Modal.getInstance(document.getElementById('joinModal_{{i}}'));
                            modal.hide();
                        })
                        .catch(error => {
                            var modalText = document.getElementById('joinModalText_{{i}}');
                            modalText.textContent = 'Invalid Username!';
                            modalText.classList.add("text-danger-emphasis");
                            console.error('Error fetching token:', error);
                        });
                });
                document.addEventListener("DOMContentLoaded", function() {
                    const queueElement = document.getElementById('queue_{{i}}');
                    queueElement.addEventListener('click', function(event) {
                        if (event.target && event.target.classList.contains('delete-btn')) {
                            const listItem = event.target.closest('li');
                            const username = listItem.getAttribute('username');
                            const op_code = localStorage.getItem('operator_code');
                            socket.emit('remove_user', {
                                username: username,
                                game_id: {{i}},
                                token: localStorage.getItem('token_{{i}}'),
                                operator_code: op_code
                            });
                            var join_button = document.getElementById('join_button_{{i}}');
                            join_button.classList.toggle('invisible');
                        }
                    });
                });
                socket.on('queue_update', function(data) {
                    if (data.game_id == {{i}}) {
                        var queueElement = document.getElementById('queue_{{i}}');
                        queueElement.innerHTML = '';
                        data.queue.forEach(function(user) {
                            var isCurrentUser = localStorage.getItem("token_{{i}}") == user.token;
                            var join_button = document.getElementById("join_button_{{i}}");
                            join_button.classList.toggle("invisible", isCurrentUser);
                            var li = createListItem(user, join_button);
                            queueElement.appendChild(li);
                            var countdown = document.createElement('div');
                            countdown.id = 'countdown_{{i}}';
                            queueElement.appendChild(countdown);
                            var deleteButton = document.getElementById("deleteBtn_" + user.username);
                            deleteButton.classList.toggle("invisible", !isCurrentUser);
                        });
                    }
                });
                socket.on('timer_update', function(data) {
                    var countdownDisplay = document.getElementById('countdown_' + data.game_id);
                    if ((data.time_left > 0) && (data.time_left != null) && (countdownDisplay != null)) {
                        countdownDisplay.textContent = `Time left: ${formatTime(data.time_left)}`;
                    }
                });
                socket.on('user_removed', function(data) {
                    if (data.token == localStorage.getItem("token_{{i}}")) {
                        var join_button = document.getElementById('join_button_' + data.game_id);
                        join_button.classList.remove('invisible');
                        vibrateDevice();
                        if (!data.operator) {
                            setTimeout(function() {
                                alert("Time is up! Head to the " + data.game_name + " machine to start your credit!");
                            }, 1000);
                        } else {
                            setTimeout(function() {
                                alert("An operator removed you from the " + data.game_name + " queue.");
                            }, 1000);
                        }
                    }
                });
            </script>
        {% endfor %}
    </div>
    <div>
        <button type="btn" data-bs-toggle="modal" data-bs-target="#opModal" class="btn btn-outline-primary fixed-bottom-right" id="op-button" style="position: fixed; bottom: 20px; right: 20px;">Operator Access</button>
        <div class="modal fade" id="opModal" tabindex="-1" aria-labelledby="opModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="opModalLabel">Input Operator Code</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="op-form">
                        <div class="modal-body">
                            <input type="text" class="form-control" aria-label="Operator Code" id="op-code">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Enter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            document.getElementById('op-form').addEventListener('submit', function(event) {
                event.preventDefault();
                const operatorCode = document.getElementById('op-code').value;
                fetch(`/api/operator?operator_code=${operatorCode}`)
                    .then(response => response.json())
                    .then(data => {
                        var token = data.token;
                        localStorage.setItem('operator_code', token);
                        const modalElement = document.getElementById('opModal');
                        const modal = bootstrap.Modal.getInstance(modalElement);
                        modal.hide();
                        const deleteBtns = document.getElementsByClassName('delete-btn');
                        Array.from(deleteBtns).forEach(function(deleteBtn) {
                            deleteBtn.classList.toggle("invisible");
                        });
                    })
                .catch(error => {
                    var opModalText = document.getElementById('opModalLabel');
                    opModalText.textContent = 'Incorrect Code!';
                    opModalText.classList.add("text-danger-emphasis");
                    console.error('Error fetching token:', error);
                });
            });
        </script>
        <script src="{{url_for('static', filename='main.js')}}"></script>
    </div>
{% endblock %}
